In [ ]:
!pip install pyspark

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("C:/Users/91990/Downloads/Tableau Global Superstore.xlsx")

In [ ]:
df.head()

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("testsession1").getOrCreate()

In [3]:
spark

In [5]:
df_pyspark = spark.read.csv("C:/Users/91990/Downloads/testSM.csv")

In [6]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string]

In [7]:
df_pyspark.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
|   _c0|            _c1|       _c2|       _c3|           _c4|        _c5|             _c6|        _c7|          _c8|            _c9|         _c10|       _c11|  _c12|        _c13|            _c14|           _c15|        _c16|                _c17|    _c18|    _c19|    _c20|      _c21|         _c22|          _c23|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|    Profit|Shipping Cost|Order Priority|
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|       0|  762.1845|      933.57 |      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|     0.1|  -288.765|      923.63 |      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971|      915.49 |        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|      910.16 |        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|      903.04 |      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|      897.35 |      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|       0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|       0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|      867.69 |           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|      865.74 |      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|      846.54 |          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|       0|    647.55|      835.57 |          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|      832.41 |      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|       0|    622.02|      810.25 |      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|      804.54 |      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|     0.1|   186.948|      801.66 |      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|      780.70 |      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|      778.32 |           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|      766.93 |      Critical|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
only showing top 20 rows

In [8]:
spark.read.option("header","true").csv("C:/Users/91990/Downloads/testSM.csv").show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|    Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|       0|  762.1845|      933.57 |      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|     0.1|  -288.765|      923.63 |      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971|      915.49 |        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|      910.16 |        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|      903.04 |      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|      897.35 |      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|       0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|       0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|      867.69 |           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|      865.74 |      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|      846.54 |          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|       0|    647.55|      835.57 |          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|      832.41 |      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|       0|    622.02|      810.25 |      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|      804.54 |      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|     0.1|   186.948|      801.66 |      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|      780.70 |      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|      778.32 |           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|      766.93 |      Critical|
| 49463|   TZ-2014-8190|05-12-2014|07-12-2014|  Second Class|    RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|       null|Africa|      Africa|OFF-KIT-10004058|Office Supplies|  Appliances|KitchenAid Stove,...| 3409.74|       6|       0|    818.28|      763.38 |          High|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+--------+----------+-------------+--------------+
only showing top 20 rows

In [9]:
df_pyspark = spark.read.option("header","true").csv("C:/Users/91990/Downloads/testSM.csv")

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head()

Row(Row ID='32298', Order ID='CA-2012-124891', Order Date='31-07-2012', Ship Date='31-07-2012', Ship Mode='Same Day', Customer ID='RH-19495', Customer Name='Rick Hansen', Segment='Consumer', City='New York City', State='New York', Country='United States', Postal Code='10024', Market='US', Region='East', Product ID='TEC-AC-10003033', Category='Technology', Sub-Category='Accessories', Product Name='Plantronics CS510 - Over-the-Head monaural Wireless Headset System', Sales='2309.65', Quantity='7', Discount='0', Profit='762.1845', Shipping Cost=' 933.57 ', Order Priority='Critical')

In [12]:
df_pyspark.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Market: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Shipping Cost: string (nullable = true)
 |-- Order Priority: string (nullable = true)

In [63]:
#if inferSchema is false then all the data will be in string, by default it is false
#df_pyspark = spark.read.option("header","true").csv("C:/Users/91990/Downloads/testSM.csv", inferSchema = True)
df_pyspark = spark.read.csv("C:/Users/91990/Downloads/testSM.csv",header = True, inferSchema = True)

In [64]:
df_pyspark.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Market: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Shipping Cost: double (nullable = true)
 |-- Order Priority: string (nullable = true)

In [18]:
df_pyspark.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Postal Code',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Shipping Cost',
 'Order Priority']

In [19]:
df_pyspark.head()

Row(Row ID=32298, Order ID='CA-2012-124891', Order Date='31-07-2012', Ship Date='31-07-2012', Ship Mode='Same Day', Customer ID='RH-19495', Customer Name='Rick Hansen', Segment='Consumer', City='New York City', State='New York', Country='United States', Postal Code=10024, Market='US', Region='East', Product ID='TEC-AC-10003033', Category='Technology', Sub-Category='Accessories', Product Name='Plantronics CS510 - Over-the-Head monaural Wireless Headset System', Sales='2309.65', Quantity='7', Discount='0', Profit=762.1845, Shipping Cost=933.57, Order Priority='Critical')

In [21]:
df_pyspark.select(["Order ID", "Sales"]).show()

+---------------+--------+
|       Order ID|   Sales|
+---------------+--------+
| CA-2012-124891| 2309.65|
|  IN-2013-77878|3709.395|
|  IN-2013-71249|5175.171|
|ES-2013-1579342| 2892.51|
|   SG-2013-4320| 2832.96|
|  IN-2013-42360|2862.675|
|  IN-2011-81826| 1822.08|
|  IN-2012-86369| 5244.84|
| CA-2014-135909| 5083.96|
| CA-2012-116638|4297.644|
| CA-2011-102988| 4164.05|
|  ID-2012-28402| 4626.15|
|   SA-2011-1830| 2616.96|
| MX-2012-130015|  2221.8|
|  IN-2013-73951| 3701.52|
|ES-2014-5099955|1869.588|
| CA-2014-143567| 2249.91|
|ES-2014-1651774| 7958.58|
|  IN-2014-11763|2565.594|
|   TZ-2014-8190| 3409.74|
+---------------+--------+
only showing top 20 rows

In [22]:
df_pyspark.describe()

DataFrame[summary: string, Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Postal Code: string, Market: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Shipping Cost: string, Order Priority: string]

In [23]:
df_pyspark.describe().show()

+-------+-----------------+------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+------+-----------+------------------+------+------+----------------+----------+------------+--------------------+------------------+------------------+-------------------+----------------+------------------+------------------+
|summary|           Row ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|                City| State|    Country|       Postal Code|Market|Region|      Product ID|  Category|Sub-Category|        Product Name|             Sales|          Quantity|           Discount|          Profit|     Shipping Cost|    Order Priority|
+-------+-----------------+------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+------+-----------+------------------+------+------+----------------+----------+------------+--------------------+------------------+------------------+-------------------+----------------+------------------+------------------+
|  count|            51290|       51290|     51290|     51290|         51290|      51290|             51290|      51290|               51290| 51290|      51290|              9994| 51290| 51290|           51290|     51290|       51290|               51290|             51290|             51290|              51290|           51290|             51290|             51290|
|   mean|          25645.5|        null|      null|      null|          null|       null|              null|       null|                null|  null|       null|  55190.3794276566|  null|  null|            null|      null|        null|                null|247.45540117435087|3.8730907353228003|0.17393517814309223|28.5975408808733|26.373343530902712|6.9448919999999985|
| stddev|14806.29199023172|        null|      null|      null|          null|       null|              null|       null|                null|  null|       null|32063.693350364512|  null|  null|            null|      null|        null|                null|488.71690163686037| 11.48156812081267|  1.476315026087872|174.374750869645|57.340290767948254| 13.99106358880635|
|    min|                1|AE-2011-9160|01-01-2011|01-01-2012|   First Class|   AA-10315|     Aaron Bergman|   Consumer|              Aachen|'Ajman|Afghanistan|              1040|  APAC|Africa|FUR-ADV-10000002| Furniture| Accessories|"""While you Were...|          10/Pack"|      1040 sheets"|            30/Box"|       -6599.978|         -292.9872|             0.05 |
|    max|            51290|ZI-2014-9650|31-12-2014|31-12-2014|Standard Class|   ZD-21925|Zuschuss Donatelli|Home Office|Águas Lindas de G...|Žilina|   Zimbabwe|             99301|    US|  West|TEC-STA-10004927|Technology|      Tables|netTALK DUO VoIP ...|            999.98|            98.352|             98.352|        8399.976|            933.57|            Medium|
+-------+-----------------+------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+------+-----------+------------------+------+------+----------------+----------+------------+--------------------+------------------+------------------+-------------------+----------------+------------------+------------------+

In [24]:
#adding column in df

In [29]:
df_pyspark = df_pyspark.withColumn("newCol", df_pyspark["Sales"] + 100)

In [31]:
df_pyspark.select(["Sales", "newCol"]).show()

+--------+--------+
|   Sales|  newCol|
+--------+--------+
| 2309.65| 2409.65|
|3709.395|3809.395|
|5175.171|5275.171|
| 2892.51| 2992.51|
| 2832.96| 2932.96|
|2862.675|2962.675|
| 1822.08| 1922.08|
| 5244.84| 5344.84|
| 5083.96| 5183.96|
|4297.644|4397.644|
| 4164.05| 4264.05|
| 4626.15| 4726.15|
| 2616.96| 2716.96|
|  2221.8|  2321.8|
| 3701.52| 3801.52|
|1869.588|1969.588|
| 2249.91| 2349.91|
| 7958.58| 8058.58|
|2565.594|2665.594|
| 3409.74| 3509.74|
+--------+--------+
only showing top 20 rows

In [32]:
df_pyspark = df_pyspark.drop("newCol")

In [33]:
df_pyspark

DataFrame[Row ID: int, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Postal Code: int, Market: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double, Shipping Cost: double, Order Priority: string]

In [34]:
#rename col

In [39]:
df_pyspark = df_pyspark.withColumnRenamed("Discount", "Discounts")

In [41]:
df_pyspark.select("discounts").show()

+---------+
|discounts|
+---------+
|        0|
|      0.1|
|      0.1|
|      0.1|
|        0|
|      0.1|
|        0|
|        0|
|      0.2|
|      0.4|
|        0|
|        0|
|        0|
|        0|
|        0|
|      0.1|
|        0|
|        0|
|      0.1|
|        0|
+---------+
only showing top 20 rows

In [43]:
df_pyspark.na.drop().show() #will drop complete row if any col has null

+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+----------------+--------------+-------------+-----------+------+-------+---------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|       Customer Name|    Segment|            City|         State|      Country|Postal Code|Market| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discounts|    Profit|Shipping Cost|Order Priority|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+----------------+--------------+-------------+-----------+------+-------+---------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
| 32298|CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|         Rick Hansen|   Consumer|   New York City|      New York|United States|      10024|    US|   East|TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|        0|  762.1845|       933.57|      Critical|
| 40155|CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|           Jane Waco|  Corporate|      Sacramento|    California|United States|      95823|    US|   West|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|      0.2|  1906.485|       867.69|           Low|
| 40936|CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|         Joseph Holt|   Consumer|         Concord|North Carolina|United States|      28027|    US|  South|FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|      0.4|-1862.3124|       865.74|      Critical|
| 34577|CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|        Greg Maxwell|  Corporate|      Alexandria|      Virginia|United States|      22304|    US|  South|OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|        0|    83.281|       846.54|          High|
| 36178|CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|       Thomas Boland|  Corporate|       Henderson|      Kentucky|United States|      42420|    US|  South|TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|        0|  517.4793|        780.7|      Critical|
| 31784|CA-2011-154627|29-10-2011|31-10-2011|   First Class|   SA-20830|        Sue Ann Reed|   Consumer|         Chicago|      Illinois|United States|      60610|    US|Central|TEC-PH-10001363|     Technology|      Phones|     Apple iPhone 5S|2735.952|       6|      0.2|   341.994|       752.51|          High|
| 37311|CA-2013-159016|11-03-2013|12-03-2013|   First Class|   KF-16285|      Karen Ferguson|Home Office|     Los Angeles|    California|United States|      90008|    US|   West|TEC-PH-10002885|     Technology|      Phones|      Apple iPhone 5|4158.912|       8|      0.2|  363.9048|       714.66|          High|
| 32735|CA-2012-139731|15-10-2012|15-10-2012|      Same Day|   JE-15745|          Joel Eaton|   Consumer|        Amarillo|         Texas|United States|      79109|    US|Central|FUR-CH-10002024|      Furniture|      Chairs|HON 5400 Series T...| 2453.43|       5|      0.3|   -350.49|       690.42|          High|
| 32543|CA-2011-168494|12-12-2011|14-12-2011|  Second Class|   NP-18700|          Nora Preis|   Consumer|          Fresno|    California|United States|      93727|    US|   West|FUR-TA-10003473|      Furniture|      Tables|Bretford Rectangu...|3610.848|      12|      0.2|  135.4068|       683.12|          High|
| 36423|CA-2011-160766|14-09-2011|14-09-2011|      Same Day|   DM-13015|       Darrin Martin|   Consumer|   New York City|      New York|United States|      10009|    US|   East|TEC-MA-10003979|     Technology|    Machines|Ativa V4110MDD Mi...| 2799.96|       4|        0| 1371.9804|       675.15|          High|
| 31980|US-2014-168116|05-11-2014|05-11-2014|      Same Day|   GT-14635|      Grant Thornton|  Corporate|      Burlington|North Carolina|United States|      27217|    US|  South|TEC-MA-10004125|     Technology|    Machines|Cubify CubeX 3D P...| 7999.98|       4|      0.5|-3839.9904|       674.82|          High|
| 35395|CA-2011-116904|23-09-2011|28-09-2011|Standard Class|   SC-20095|        Sanjit Chand|   Consumer|     Minneapolis|     Minnesota|United States|      55407|    US|Central|OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...| 9449.95|       5|        0| 4630.4755|       655.61|        Medium|
| 40046|US-2012-163825|16-06-2012|19-06-2012|   First Class|   LC-16885|      Lena Creighton|   Consumer|   New York City|      New York|United States|      10009|    US|   East|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|3050.376|       3|      0.2|  1143.891|       632.05|          High|
| 38198|US-2014-135013|25-07-2014|25-07-2014|      Same Day|   HR-14830|         Harold Ryan|  Corporate|Huntington Beach|    California|United States|      92646|    US|   West|TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...| 2399.96|       5|      0.2|   839.986|       630.05|          High|
| 32941|CA-2012-111829|19-03-2012|20-03-2012|   First Class|   FH-14365|        Fred Hopkins|  Corporate|         Seattle|    Washington|United States|      98115|    US|   West|TEC-CO-10001766|     Technology|     Copiers|  Canon PC940 Copier| 3149.93|       7|        0| 1480.4671|       617.92|          High|
| 35594|CA-2014-129021|24-08-2014|27-08-2014|  Second Class|   PO-18850|     Patrick O'Brill|   Consumer|     Tallahassee|       Florida|United States|      32303|    US|  South|TEC-PH-10001459|     Technology|      Phones|Samsung Galaxy Me...|4367.896|      13|      0.2|  327.5922|       609.44|        Medium|
| 39501|CA-2012-114811|08-11-2012|08-11-2012|      Same Day|   KD-16495|       Keith Dawkins|  Corporate|   New York City|      New York|United States|      10024|    US|   East|TEC-MA-10000045|     Technology|    Machines|Zebra ZM400 Therm...|  4643.8|       4|        0|  2229.024|       607.34|        Medium|
| 39977|CA-2013-143805|02-12-2013|04-12-2013|  Second Class|   JD-15895|    Jonathan Doherty|  Corporate|        Richmond|      Virginia|United States|      23223|    US|  South|OFF-AP-10002945|Office Supplies|  Appliances|Honeywell Envirac...| 2104.55|       7|        0|  694.5015|       594.02|      Critical|
| 31806|CA-2012-145352|16-03-2012|22-03-2012|Standard Class|   CM-12385|Christopher Martinez|   Consumer|         Atlanta|       Georgia|United States|      30318|    US|  South|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 6354.95|       5|        0|  3177.475|       581.12|        Medium|
| 37817|CA-2014-138289|17-01-2014|19-01-2014|  Second Class|   AR-10540|         Andy Reiter|   Consumer|         Jackson|      Michigan|United States|      49201|    US|Central|OFF-BI-10004995|Office Supplies|     Binders|GBC DocuBind P400...| 5443.96|       4|        0| 2504.2216|       567.95|          High|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+----------------+--------------+-------------+-----------+------+-------+---------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
only showing top 20 rows

In [45]:
df_pyspark.na.drop(how = "all").show() #we can use how = any, by defalut how = any

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discounts|    Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|        0|  762.1845|       933.57|      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|      0.1|  -288.765|       923.63|      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|      0.1|   919.971|       915.49|        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|      0.1|    -96.54|       910.16|        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|        0|    311.52|       903.04|      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|      0.1|   763.275|       897.35|      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|        0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|        0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|      0.2|  1906.485|       867.69|           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|      0.4|-1862.3124|       865.74|      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|        0|    83.281|       846.54|          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|        0|    647.55|       835.57|          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|        0|    1151.4|       832.41|      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|        0|    622.02|       810.25|      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|        0|   1036.08|       804.54|      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|      0.1|   186.948|       801.66|      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|        0|  517.4793|        780.7|      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|        0|   3979.08|       778.32|           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|      0.1|    28.404|       766.93|      Critical|
| 49463|   TZ-2014-8190|05-12-2014|07-12-2014|  Second Class|    RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|       null|Africa|      Africa|OFF-KIT-10004058|Office Supplies|  Appliances|KitchenAid Stove,...| 3409.74|       6|        0|    818.28|       763.38|          High|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
only showing top 20 rows

In [46]:
#threshold
df_pyspark.na.drop(how = "any", thresh =2).show() #in this case all the rows with atleast 2 non null values will be deleted

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discounts|    Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|        0|  762.1845|       933.57|      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|      0.1|  -288.765|       923.63|      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|      0.1|   919.971|       915.49|        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|      0.1|    -96.54|       910.16|        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|        0|    311.52|       903.04|      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|      0.1|   763.275|       897.35|      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|        0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|        0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|      0.2|  1906.485|       867.69|           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|      0.4|-1862.3124|       865.74|      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|        0|    83.281|       846.54|          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|        0|    647.55|       835.57|          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|        0|    1151.4|       832.41|      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|        0|    622.02|       810.25|      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|        0|   1036.08|       804.54|      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|      0.1|   186.948|       801.66|      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|        0|  517.4793|        780.7|      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|        0|   3979.08|       778.32|           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|      0.1|    28.404|       766.93|      Critical|
| 49463|   TZ-2014-8190|05-12-2014|07-12-2014|  Second Class|    RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|       null|Africa|      Africa|OFF-KIT-10004058|Office Supplies|  Appliances|KitchenAid Stove,...| 3409.74|       6|        0|    818.28|       763.38|          High|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
only showing top 20 rows

In [48]:
#subset
df_pyspark.na.drop(how = "any", subset=["Sales"]).show() #will delete null only from subset column sales

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discounts|    Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|        0|  762.1845|       933.57|      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|      0.1|  -288.765|       923.63|      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|      0.1|   919.971|       915.49|        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|      0.1|    -96.54|       910.16|        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|        0|    311.52|       903.04|      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|      0.1|   763.275|       897.35|      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|        0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|        0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|      0.2|  1906.485|       867.69|           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|      0.4|-1862.3124|       865.74|      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|        0|    83.281|       846.54|          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|        0|    647.55|       835.57|          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|        0|    1151.4|       832.41|      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|        0|    622.02|       810.25|      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|        0|   1036.08|       804.54|      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|      0.1|   186.948|       801.66|      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|        0|  517.4793|        780.7|      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|        0|   3979.08|       778.32|           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|      0.1|    28.404|       766.93|      Critical|
| 49463|   TZ-2014-8190|05-12-2014|07-12-2014|  Second Class|    RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|       null|Africa|      Africa|OFF-KIT-10004058|Office Supplies|  Appliances|KitchenAid Stove,...| 3409.74|       6|        0|    818.28|       763.38|          High|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
only showing top 20 rows

In [52]:
#fill missing value
df_pyspark.na.fill(0, ["Sales", "Profit"]).show() # this will fill na of subset sales and profit with 0

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|          State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discounts|    Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
| 32298| CA-2012-124891|31-07-2012|31-07-2012|      Same Day|   RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|      10024|    US|        East| TEC-AC-10003033|     Technology| Accessories|Plantronics CS510...| 2309.65|       7|        0|  762.1845|       933.57|      Critical|
| 26341|  IN-2013-77878|05-02-2013|07-02-2013|  Second Class|   JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|       null|  APAC|     Oceania| FUR-CH-10003950|      Furniture|      Chairs|Novimex Executive...|3709.395|       9|      0.1|  -288.765|       923.63|      Critical|
| 25330|  IN-2013-71249|17-10-2013|18-10-2013|   First Class|   CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|5175.171|       9|      0.1|   919.971|       915.49|        Medium|
| 13524|ES-2013-1579342|28-01-2013|30-01-2013|   First Class|   KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|       null|    EU|     Central| TEC-PH-10004583|     Technology|      Phones|Motorola Smart Ph...| 2892.51|       5|      0.1|    -96.54|       910.16|        Medium|
| 47221|   SG-2013-4320|05-11-2013|06-11-2013|      Same Day|    RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|       null|Africa|      Africa|TEC-SHA-10000501|     Technology|     Copiers|Sharp Wireless Fa...| 2832.96|       8|        0|    311.52|       903.04|      Critical|
| 22732|  IN-2013-42360|28-06-2013|01-07-2013|  Second Class|   JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|       null|  APAC|     Oceania| TEC-PH-10000030|     Technology|      Phones|Samsung Smart Pho...|2862.675|       5|      0.1|   763.275|       897.35|      Critical|
| 30570|  IN-2011-81826|07-11-2011|09-11-2011|   First Class|   TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|       null|  APAC|     Oceania| FUR-CH-10004050|      Furniture|      Chairs|Novimex Executive...| 1822.08|       4|        0|    564.84|       894.77|      Critical|
| 31192|  IN-2012-86369|14-04-2012|18-04-2012|Standard Class|   MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|       null|  APAC|     Oceania| FUR-TA-10002958|      Furniture|      Tables|Chromcraft Confer...| 5244.84|       6|        0|    996.48|       878.38|          High|
| 40155| CA-2014-135909|14-10-2014|21-10-2014|Standard Class|   JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|      95823|    US|        West| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...| 5083.96|       5|      0.2|  1906.485|       867.69|           Low|
| 40936| CA-2012-116638|28-01-2012|31-01-2012|  Second Class|   JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|      28027|    US|       South| FUR-TA-10000198|      Furniture|      Tables|Chromcraft Bull-N...|4297.644|      13|      0.4|-1862.3124|       865.74|      Critical|
| 34577| CA-2011-102988|05-04-2011|09-04-2011|  Second Class|   GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|      22304|    US|       South| OFF-SU-10002881|Office Supplies|    Supplies|Martin Yale Chadl...| 4164.05|       5|        0|    83.281|       846.54|          High|
| 28879|  ID-2012-28402|19-04-2012|22-04-2012|   First Class|   AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|       null|  APAC|Central Asia| FUR-TA-10001889|      Furniture|      Tables|Bevis Conference ...| 4626.15|       5|        0|    647.55|       835.57|          High|
| 45794|   SA-2011-1830|27-12-2011|29-12-2011|  Second Class|    MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|       null|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|      Phones|Cisco Smart Phone...| 2616.96|       4|        0|    1151.4|       832.41|      Critical|
|  4132| MX-2012-130015|13-11-2012|13-11-2012|      Same Day|   VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil|       null| LATAM|       South| FUR-CH-10002033|      Furniture|      Chairs|Harbour Creations...|  2221.8|       7|        0|    622.02|       810.25|      Critical|
| 27704|  IN-2013-73951|06-06-2013|08-06-2013|  Second Class|   PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|       null|  APAC|  North Asia| OFF-AP-10003500|Office Supplies|  Appliances|KitchenAid Microw...| 3701.52|      12|        0|   1036.08|       804.54|      Critical|
| 13779|ES-2014-5099955|31-07-2014|03-08-2014|  Second Class|   BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|       null|    EU|     Central| OFF-AP-10000423|Office Supplies|  Appliances|Breville Refriger...|1869.588|       4|      0.1|   186.948|       801.66|      Critical|
| 36178| CA-2014-143567|03-11-2014|06-11-2014|  Second Class|   TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|      42420|    US|       South| TEC-AC-10004145|     Technology| Accessories|Logitech diNovo E...| 2249.91|       9|        0|  517.4793|        780.7|      Critical|
| 12069|ES-2014-1651774|08-09-2014|14-09-2014|Standard Class|   PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|       null|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 7958.58|      14|        0|   3979.08|       778.32|           Low|
| 22096|  IN-2014-11763|31-01-2014|01-02-2014|   First Class|   JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|       null|  APAC|     Oceania| TEC-CO-10000865|     Technology|     Copiers|Brother Fax Machi...|2565.594|       9|      0.1|    28.404|       766.93|      Critical|
| 49463|   TZ-2014-8190|05-12-2014|07-12-2014|  Second Class|    RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|       null|Africa|      Africa|OFF-KIT-10004058|Office Supplies|  Appliances|KitchenAid Stove,...| 3409.74|       6|        0|    818.28|       763.38|          High|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+---------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+--------+--------+---------+----------+-------------+--------------+
only showing top 20 rows

In [67]:
#fill na with mean or median
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Shipping Cost', 'Profit'], 
    outputCols=["{}_imputed".format(c) for c in ['Shipping Cost', 'Profit']]
    ).setStrategy("median")

In [75]:
# Add imputation cols to df
df2 = imputer.fit(df_pyspark).transform(df_pyspark)

In [76]:
df2.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Postal Code',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Shipping Cost',
 'Order Priority',
 'Shipping Cost_imputed',
 'Profit_imputed']

In [77]:
#filter operations

In [82]:
df2.filter("Profit>5000").show()

+------+--------------+----------+----------+--------------+-----------+-------------+---------+---------+----------+-------------+-----------+------+-------+---------------+----------+------------+--------------------+--------+--------+--------+---------+-------------+--------------+---------------------+--------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|Customer Name|  Segment|     City|     State|      Country|Postal Code|Market| Region|     Product ID|  Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|   Profit|Shipping Cost|Order Priority|Shipping Cost_imputed|Profit_imputed|
+------+--------------+----------+----------+--------------+-----------+-------------+---------+---------+----------+-------------+-----------+------+-------+---------------+----------+------------+--------------------+--------+--------+--------+---------+-------------+--------------+---------------------+--------------+
| 35487|CA-2014-166709|18-11-2014|23-11-2014|Standard Class|   HL-15040| Hunter Lopez| Consumer|   Newark|  Delaware|United States|      19711|    US|   East|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|10499.97|       3|       0|5039.9856|       363.19|        Medium|               363.19|     5039.9856|
| 38123|CA-2013-118689|03-10-2013|10-10-2013|Standard Class|   TC-20980| Tamara Chand|Corporate|Lafayette|   Indiana|United States|      47905|    US|Central|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|17499.95|       5|       0| 8399.976|       349.07|        Medium|               349.07|      8399.976|
| 39450|CA-2014-140151|24-03-2014|26-03-2014|   First Class|   RB-19360| Raymond Buch| Consumer|  Seattle|Washington|United States|      98115|    US|   West|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|13999.96|       4|       0|6719.9808|         20.0|        Medium|                 20.0|     6719.9808|
+------+--------------+----------+----------+--------------+-----------+-------------+---------+---------+----------+-------------+-----------+------+-------+---------------+----------+------------+--------------------+--------+--------+--------+---------+-------------+--------------+---------------------+--------------+

In [83]:
df2.filter("Profit>5000").select(["Order ID","Customer Name","Sales", "Profit"]).show()

+--------------+-------------+--------+---------+
|      Order ID|Customer Name|   Sales|   Profit|
+--------------+-------------+--------+---------+
|CA-2014-166709| Hunter Lopez|10499.97|5039.9856|
|CA-2013-118689| Tamara Chand|17499.95| 8399.976|
|CA-2014-140151| Raymond Buch|13999.96|6719.9808|
+--------------+-------------+--------+---------+

In [88]:
df2.filter((df2["Profit"] > 5000) & 
            (df2["Profit"] < 7000)).select(["Order ID","Customer Name","Sales", "Profit"]).show()

+--------------+-------------+--------+---------+
|      Order ID|Customer Name|   Sales|   Profit|
+--------------+-------------+--------+---------+
|CA-2014-166709| Hunter Lopez|10499.97|5039.9856|
|CA-2014-140151| Raymond Buch|13999.96|6719.9808|
+--------------+-------------+--------+---------+

In [89]:
df2.filter(~((df2["Profit"] > 5000) & 
            (df2["Profit"] < 7000))).select(["Order ID","Customer Name","Sales", "Profit"]).show()

+---------------+----------------+--------+----------+
|       Order ID|   Customer Name|   Sales|    Profit|
+---------------+----------------+--------+----------+
| CA-2012-124891|     Rick Hansen| 2309.65|  762.1845|
|  IN-2013-77878|   Justin Ritter|3709.395|  -288.765|
|  IN-2013-71249|    Craig Reiter|5175.171|   919.971|
|ES-2013-1579342|Katherine Murray| 2892.51|    -96.54|
|   SG-2013-4320|     Rick Hansen| 2832.96|    311.52|
|  IN-2013-42360|     Jim Mitchum|2862.675|   763.275|
|  IN-2011-81826|   Toby Swindell| 1822.08|    564.84|
|  IN-2012-86369|      Mick Brown| 5244.84|    996.48|
| CA-2014-135909|       Jane Waco| 5083.96|  1906.485|
| CA-2012-116638|     Joseph Holt|4297.644|-1862.3124|
| CA-2011-102988|    Greg Maxwell| 4164.05|    83.281|
|  ID-2012-28402|  Anthony Jacobs| 4626.15|    647.55|
|   SA-2011-1830| Magdelene Morse| 2616.96|    1151.4|
| MX-2012-130015|  Vicky Freymann|  2221.8|    622.02|
|  IN-2013-73951|    Peter Fuller| 3701.52|   1036.08|
|ES-2014-5099955|    Ben Peterman|1869.588|   186.948|
| CA-2014-143567|   Thomas Boland| 2249.91|  517.4793|
|ES-2014-1651774|   Patrick Jones| 7958.58|   3979.08|
|  IN-2014-11763|        Jim Sink|2565.594|    28.404|
|   TZ-2014-8190| Ritsa Hightower| 3409.74|    818.28|
+---------------+----------------+--------+----------+
only showing top 20 rows

In [90]:
#groupby and aggregate function

In [93]:
df2.groupBy("Customer Name").sum().show()

+-----------------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
|    Customer Name|sum(Row ID)|sum(Postal Code)|        sum(Profit)|sum(Shipping Cost)|sum(Shipping Cost_imputed)|sum(Profit_imputed)|
+-----------------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
|      Jim Mitchum|    1954590|          808254| 1798.5340600000004|2714.2799999999997|        2714.2799999999997| 1798.5340600000004|
|     Jesus Ocampo|    1630524|          489070|  581.5913000000002| 639.4456000000002|         639.4456000000002|  581.5913000000002|
|      Joseph Holt|    1985747|         1028423| 386.67820000000006|           2516.52|                   2516.52| 386.67820000000006|
|     Ben Peterman|    2058637|         1211579|         1321.20702|2502.7387999999996|        2502.7387999999996|         1321.20702|
|  Patrick O'Brill|    2209680|         1032035|  3738.274900000001| 3014.938800000001|         3014.938800000001|  3738.274900000001|
|  Ted Butterfield|    1704527|          182239| 1559.2690199999997|1528.0900000000001|        1528.0900000000001| 1559.2690199999997|
|     Ruben Ausman|    1791625|          904650|         3320.46868|1536.9800000000002|        1536.9800000000002|         3320.46868|
|        Denny Joy|    1240146|          366626| 3255.3961399999994|           2443.43|                   2443.43| 3255.3961399999994|
|    Hilary Holden|    1180945|          564660| 2421.9336200000007|1521.2803999999999|        1521.2803999999999| 2421.9336200000007|
|   Parhena Norris|    1524951|          476417| 2205.4628200000006|           1389.26|                   1389.26| 2205.4628200000006|
| Michelle Ellison|     897129|          501415|  655.2183200000002|           1256.96|                   1256.96|  655.2183200000002|
|    Bill Overfelt|    1531726|          665167|  453.7588999999999|          515.5508|                  515.5508|  453.7588999999999|
|Brooke Gillingham|    1319338|          296830|  417.3198799999999|           1315.74|                   1315.74|  417.3198799999999|
|       Carl Weiss|    1332948|          655654| 3007.3994000000002|1320.9499999999998|        1320.9499999999998| 3007.3994000000002|
|    Patrick Jones|    1460376|          672814|  4019.132499999999|            1694.0|                    1694.0|  4019.132499999999|
|     Craig Yedwab|    1293278|          808314|           1542.243|1656.3400000000006|        1656.3400000000006|           1542.243|
|   Darren Koutras|    1178233|          448274| 1287.9166999999998|1852.6099999999992|        1852.6099999999992| 1287.9166999999998|
|  Michael Kennedy|    2048801|          629808|-210.64000000000016|1441.8100000000002|        1441.8100000000002|-210.64000000000016|
|    Aaron Hawkins|    1434098|          565428|  2450.929040000001|2289.4100000000003|        2289.4100000000003|  2450.929040000001|
|   Roland Schwarz|    1326863|          595538| 3314.8031800000003|2237.5631999999996|        2237.5631999999996| 3314.8031800000003|
+-----------------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [94]:
df2.groupBy("Postal Code").sum().show()

+-----------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
|Postal Code|sum(Row ID)|sum(Postal Code)|        sum(Profit)|sum(Shipping Cost)|sum(Shipping Cost_imputed)|sum(Profit_imputed)|
+-----------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
|      43302|     512231|          606228|          -517.9122|           369.499|                   369.499|          -517.9122|
|      20735|    1044529|          601315|          1274.2421|502.90999999999997|        502.90999999999997|          1274.2421|
|      77803|     244519|          466818|-213.71160000000003|             47.84|                     47.84|-213.71160000000003|
|      13601|     355201|          136010|           898.2934|          479.7238|                  479.7238|           898.2934|
|      80906|     879895|         2022650|          -956.6841|487.62000000000006|        487.62000000000006|          -956.6841|
|      93905|     266985|          751240|           270.5181|             83.58|                     83.58|           270.5181|
|      60068|     107022|          180204|            -238.45|              59.4|                      59.4|            -238.45|
|      48127|     232759|          288762|           140.8905| 79.11999999999999|         79.11999999999999|           140.8905|
|      78539|     109900|          235617|            27.8086|             33.28|                     33.28|            27.8086|
|      29483|      67779|           58966|              39.55|          162.0932|                  162.0932|              39.55|
|      94109|    5140533|        13269369|          4365.8128|2320.6105000000002|        2320.6105000000002|          4365.8128|
|      60540|     280616|          484320|          -146.5324|            149.34|                    149.34|          -146.5324|
|      11520|     217101|           69120| 107.36179999999999| 58.85999999999999|         58.85999999999999| 107.36179999999999|
|      67846|     194807|          339230|            90.6259|             32.97|                     32.97|            90.6259|
|       8701|     879363|          208824|          3526.6735|1412.4999999999998|        1412.4999999999998|          3526.6735|
|      65203|     390299|          652030|          1053.5015|418.25039999999996|        418.25039999999996|          1053.5015|
|      33012|     670746|          594216|          -179.6971|          414.4196|                  414.4196|          -179.6971|
|      23434|     362938|          234340| 389.81219999999996|            209.57|                    209.57| 389.81219999999996|
|       7109|     340932|           71090| 272.82439999999997|           77.2348|                   77.2348| 272.82439999999997|
|      54880|     343737|          493920|           514.0822|             97.26|                     97.26|           514.0822|
+-----------+-----------+----------------+-------------------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [95]:
df2.groupBy("Postal Code").count().show()

+-----------+-----+
|Postal Code|count|
+-----------+-----+
|      43302|   14|
|      20735|   29|
|      77803|    6|
|      13601|   10|
|      80906|   25|
|      93905|    8|
|      60068|    3|
|      48127|    6|
|      78539|    3|
|      29483|    2|
|      94109|  141|
|      60540|    8|
|      11520|    6|
|      67846|    5|
|       8701|   24|
|      65203|   10|
|      33012|   18|
|      23434|   10|
|       7109|   10|
|      54880|    9|
+-----------+-----+
only showing top 20 rows

In [99]:
df2.agg({'Profit':'sum'}).show()

+------------------+
|       sum(Profit)|
+------------------+
|1466767.8717799915|
+------------------+

In [100]:
df2.groupBy("Postal Code").min().show()

+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
|Postal Code|min(Row ID)|min(Postal Code)|min(Profit)|min(Shipping Cost)|min(Shipping Cost_imputed)|min(Profit_imputed)|
+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
|      43302|      33518|           43302|   -464.697|           -26.541|                   -26.541|           -464.697|
|      20735|      32390|           20735|   -47.1798|              0.72|                      0.72|           -47.1798|
|      77803|      40520|           77803|   -143.431|              0.08|                      0.08|           -143.431|
|      13601|      32842|           13601|        0.0|              3.34|                      3.34|                0.0|
|      80906|      31590|           80906|   -786.744|              0.13|                      0.13|           -786.744|
|      93905|      32147|           93905|     1.3416|              0.45|                      0.45|             1.3416|
|      60068|      31764|           60068|  -312.0614|             13.08|                     13.08|          -312.0614|
|      48127|      34770|           48127|     4.5837|              1.49|                      1.49|             4.5837|
|      78539|      35195|           78539|    -3.4122|              0.28|                      0.28|            -3.4122|
|      29483|      33889|           29483|        0.0|              4.73|                      4.73|                0.0|
|      94109|      31315|           94109|   -20.1362|              0.19|                      0.19|           -20.1362|
|      60540|      31338|           60540|  -163.5767|              0.32|                      0.32|          -163.5767|
|      11520|      32640|           11520|      6.003|              0.97|                      0.97|              6.003|
|      67846|      38667|           67846|      1.728|              0.38|                      0.38|              1.728|
|       8701|      31603|            8701|        0.0|               0.5|                       0.5|                0.0|
|      65203|      33302|           65203|        0.0|              0.33|                      0.33|                0.0|
|      33012|      32021|           33012|    -331.96|              0.33|                      0.33|            -331.96|
|      23434|      32970|           23434|     1.8998|              0.47|                      0.47|             1.8998|
|       7109|      31595|            7109|        0.0|              0.24|                      0.24|                0.0|
|      54880|      35309|           54880|     1.4456|              0.42|                      0.42|             1.4456|
+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [101]:
df2.groupBy("Postal Code").max().show()

+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
|Postal Code|max(Row ID)|max(Postal Code)|max(Profit)|max(Shipping Cost)|max(Shipping Cost_imputed)|max(Profit_imputed)|
+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
|      43302|      38947|           43302|    42.8935|            150.02|                    150.02|            42.8935|
|      20735|      40666|           20735|   327.5818|             89.06|                     89.06|           327.5818|
|      77803|      41217|           77803|    -2.3232|              37.7|                      37.7|            -2.3232|
|      13601|      39982|           13601|    302.373|            203.94|                    203.94|            302.373|
|      80906|      39922|           80906|    149.148|            123.77|                    123.77|            149.148|
|      93905|      38310|           93905|   196.6132|             42.26|                     42.26|           196.6132|
|      60068|      38611|           60068|    48.5514|             24.22|                     24.22|            48.5514|
|      48127|      40806|           48127|    47.0548|             53.42|                     53.42|            47.0548|
|      78539|      37353|           78539|     30.392|             32.42|                     32.42|             30.392|
|      29483|      33890|           29483|      39.55|          157.3632|                  157.3632|              39.55|
|      94109|      41152|           94109|    352.296|            187.65|                    187.65|            352.296|
|      60540|      40442|           60540|     83.986|            110.27|                    110.27|             83.986|
|      11520|      40565|           11520|     64.518|             33.48|                     33.48|             64.518|
|      67846|      39413|           67846|    74.8142|             21.72|                     21.72|            74.8142|
|       8701|      41186|            8701|  2365.9818|            516.91|                    516.91|          2365.9818|
|      65203|      40556|           65203|   751.7601|            274.82|                    274.82|           751.7601|
|      33012|      41068|           33012|   101.3832|            178.96|                    178.96|           101.3832|
|      23434|      40381|           23434|   157.1292|            104.25|                    104.25|           157.1292|
|       7109|      39626|            7109|     71.991|             30.29|                     30.29|             71.991|
|      54880|      38557|           54880|    301.968|             41.93|                     41.93|            301.968|
+-----------+-----------+----------------+-----------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [102]:
df2.groupBy("Postal Code").avg().show()

+-----------+------------------+----------------+------------------+------------------+--------------------------+-------------------+
|Postal Code|       avg(Row ID)|avg(Postal Code)|       avg(Profit)|avg(Shipping Cost)|avg(Shipping Cost_imputed)|avg(Profit_imputed)|
+-----------+------------------+----------------+------------------+------------------+--------------------------+-------------------+
|      43302| 36587.92857142857|         43302.0|-36.99372857142857|26.392785714285715|        26.392785714285715| -36.99372857142857|
|      20735| 36018.24137931035|         20735.0| 43.93938275862069|17.341724137931035|        17.341724137931035|  43.93938275862069|
|      77803|40753.166666666664|         77803.0|-35.61860000000001| 7.973333333333334|         7.973333333333334| -35.61860000000001|
|      13601|           35520.1|         13601.0|          89.82934|          47.97238|                  47.97238|           89.82934|
|      80906|           35195.8|         80906.0|        -38.267364|19.504800000000003|        19.504800000000003|         -38.267364|
|      93905|         33373.125|         93905.0|        33.8147625|           10.4475|                   10.4475|         33.8147625|
|      60068|           35674.0|         60068.0|-79.48333333333333|              19.8|                      19.8| -79.48333333333333|
|      48127|38793.166666666664|         48127.0|          23.48175|13.186666666666666|        13.186666666666666|           23.48175|
|      78539|36633.333333333336|         78539.0| 9.269533333333333|11.093333333333334|        11.093333333333334|  9.269533333333333|
|      29483|           33889.5|         29483.0|            19.775|           81.0466|                   81.0466|             19.775|
|      94109| 36457.68085106383|         94109.0|30.963211347517728|  16.4582304964539|          16.4582304964539| 30.963211347517728|
|      60540|           35077.0|         60540.0|         -18.31655|           18.6675|                   18.6675|          -18.31655|
|      11520|           36183.5|         11520.0| 17.89363333333333| 9.809999999999999|         9.809999999999999|  17.89363333333333|
|      67846|           38961.4|         67846.0|          18.12518| 6.593999999999999|         6.593999999999999|           18.12518|
|       8701|         36640.125|          8701.0|146.94472916666666| 58.85416666666666|         58.85416666666666| 146.94472916666666|
|      65203|           39029.9|         65203.0|105.35015000000001|41.825039999999994|        41.825039999999994| 105.35015000000001|
|      33012|37263.666666666664|         33012.0|-9.983172222222223|23.023311111111113|        23.023311111111113| -9.983172222222223|
|      23434|           36293.8|         23434.0| 38.98121999999999|            20.957|                    20.957|  38.98121999999999|
|       7109|           34093.2|          7109.0|27.282439999999998|           7.72348|                   7.72348| 27.282439999999998|
|      54880|           38193.0|         54880.0| 57.12024444444444|10.806666666666667|        10.806666666666667|  57.12024444444444|
+-----------+------------------+----------------+------------------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [109]:
df_pyspark = spark.read.csv("C:/Users/91990/OneDrive/Desktop/tips.csv", header = True, inferSchema = True)

In [110]:
df_pyspark.head()

Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)

In [111]:
df_pyspark.describe()

DataFrame[summary: string, total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [112]:
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [113]:
df_pyspark.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [114]:
from pyspark.ml.feature import StringIndexer

In [115]:
indexer=StringIndexer(inputCol="sex",outputCol="sex_indexed")
df_r=indexer.fit(df_pyspark).transform(df_pyspark)
df_r.show()

+----------+----+------+------+---+------+----+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|
+----------+----+------+------+---+------+----+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|
+----------+----+------+------+---+------+----+-----------+
only showing top 20 rows

In [116]:
indexer=StringIndexer(inputCols=["smoker","day","time"],outputCols=["smoker_indexed","day_indexed",
                                                                  "time_index"])
df_r=indexer.fit(df_r).transform(df_r)
df_r.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_index|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|       0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
only showing top 20 rows

In [117]:
df_r.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'sex_indexed',
 'smoker_indexed',
 'day_indexed',
 'time_index']

In [118]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['tip','size','sex_indexed','smoker_indexed','day_indexed',
                          'time_index'],outputCol="Independent Features")
output=featureassembler.transform(df_r)

In [119]:
output.select('Independent Features').show()

+--------------------+
|Independent Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [120]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_index|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|       0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
only showing top 20 rows

In [121]:
finalized_data=output.select("Independent Features","total_bill")

In [122]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='total_bill')
regressor=regressor.fit(train_data)

In [123]:

regressor.coefficients

DenseVector([3.1936, 3.3429, -1.252, 2.4849, -0.2451, -1.7945])

In [124]:
regressor.intercept

1.8871557672431074

In [125]:
### Predictions
pred_results=regressor.evaluate(test_data)

In [126]:
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.97,2.0])|     12.02| 14.86420364549613|
| (6,[0,1],[2.0,2.0])|     13.37|14.960010574473548|
| (6,[0,1],[2.0,3.0])|     16.31|18.302873678841426|
|(6,[0,1],[2.24,3.0])|     16.04| 19.06932911066079|
|(6,[0,1],[2.34,4.0])|     17.81|  22.7315486449534|
| (6,[0,1],[2.5,4.0])|     18.35|23.242518932832972|
| (6,[0,1],[3.0,2.0])|      14.0|18.153574873720892|
|(6,[0,1],[3.35,3.0])|     20.65|22.614185482825338|
|(6,[0,1],[3.39,2.0])|     11.61|19.399064950427356|
|(6,[0,1],[5.92,3.0])|     29.03| 30.82164573189101|
|[1.0,1.0,1.0,1.0,...|      3.07| 9.656513879142594|
|[1.1,2.0,1.0,1.0,...|      12.9|13.318733413435204|
|[1.25,2.0,1.0,0.0...|      8.51| 9.027995717251617|
|[1.36,3.0,1.0,0.0...|     18.64|12.722150894536703|
|[1.48,2.0,0.0,0.0...|      8.52|11.014527750072693|
|[1.5,2.0,1.0,0.0,...|     26.41|12.111216180855692|
|[1.5,2.0,1.0,0.0,...|     11.17| 9.826386792063454|
|[1.67,3.0,1.0,0.0...|     10.33| 15.75184039617411|
|[1.68,2.0,1.0,0.0...|     13.42|10.401228365927976|
|[1.76,2.0,0.0,1.0...|     11.24|16.678498094932635|
+--------------------+----------+------------------+
only showing top 20 rows

In [127]:
### PErformance Metrics
pred_results.r2,pred_results.meanAbsoluteError,pred_results.meanSquaredError

(0.41963603011274164, 4.426267166320896, 32.93271560567401)